<nav class="bg-blue">
   <div class="brand-div color-white">
       <h3 class="brand-name">STACKROOTS</h3>
       <P class="brand-sub">TECHNOLOGY SOLUTIONS</P>
   </div>
   <div>
       <ul class="nav-list">
            <li>
                <a href="#"><h5>Home</h5></a>
            </li>
            <li>
                <a href="#"><h5>Blog</h5></a>
            </li>
            <li>
                <a href="#"><h5>Services</h5></a>
            </li>
            <li>
                <a href="#"><h5>Contact</h5></a>
            </li>
          
       </ul>
   </div>
</nav>
<div class="greet">
    <h1>header and user</h1>
</div>