/* You can add global styles to this file, and also import other style files */
body{
    font-family:Oswald;

}
h1,
h2,
h3,
h4,
h5,
h6,p{margin:0;padding:0;line-height:1;}

.color-blue{
     color: #007bff;;
}
.color-white{
    color:#ffff;
}
.bg-white{
    background-color:#ffff;
}
.bg-blue{
    background-color: #007bff;;
}